/* EventCreationPage.css */

/* Body background */
body {
  color: #000; /* Update the text color to black */
  font-family: "Roboto", sans-serif;
  background-color: #f5f7f5;
}

/* EventCreationForm container */
.item-creation-form {
  color: #000;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #343536;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
}

/* Input styles */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
textarea {
  width: 100%;
  min-height: 27px;
  border: 1px solid #343536;
  color: #000; /* Update the text color to black */
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 15px;
}

/* Checkbox label style */
label {
  display: block;
}

/* Submit button style */
button[type="submit"] {
  padding: 10px 20px;
  background-color: #0079d3;
  color: #d7dadc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Saved Events list */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 10px;
}

/* Edit and Delete buttons */
li button {
  padding: 5px 10px;
  background-color: #0079d3;
  color: #d7dadc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.centered-header {
  text-align: center;
  font-size: 24px;
  color: #d7dadc;
  margin-bottom: 20px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #333;
  color: white;
  padding: 6px;
}

input[type="checkbox"] {
  margin-left: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0079d3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
.header {
  text-align: center;
  font-size: 35px;
  color: #000;
  margin-bottom: 30px;
}
.header2 {
  font-size: 40px;
  margin: 0;
  text-align: center;
}

.error-message {
  color: #d8000c;
  background-color: #ffbaba;
  padding: 5px 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
