/* ItemBox.css */
.item-box {
  justify-content: center;
  align-items: center;
  border: solid black;
  border-width: 1.5px;
  border-radius: 10px;
  display: inline-block;
  width: calc(33.33% - 20px); /* Adjust the width as needed for your layout */
  margin: 10px;
  box-sizing: border-box;
  vertical-align: top;
}

.item-box .card {
  width: 100%;
}

.item-box .item-img {
  object-fit: cover; /* Ensure the image covers the entire space */
  height: 100%; /* Make the image take up the full height of the item-image div */
  border-radius: 10px 10px 0 0; /* Rounded corners for the top */
}

.item-box .button-container {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.item-box .card-title {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.item-card {
  background-color: #f4f4f4c9;
  height: 400px;
}

.info-section {
  background-color: #f4f4f4c9;
}
