.color-nav {
  background-color: #36213eb2;
  color: #000;
}

.ms-auto {
  background-color: #e9dfed;
  border-radius: 500px;
}

.logo {
  width: 90px;
  height: 80px;
}

.text-color1 {
  color: #000;
}
